<div id="top-wrap">

    <div id="header">
        <h1>Seismic Activity</h1>
    </div>
    <div id="user-controls">
        <% if @user %>
            <span>Welcome back, <a href="user_page"><%= @user.username %></a></span>
            / <a href="/log_out">logout</a>
            <% if @user.isadmin? %>
                / <a href="admin">Administration</a>
            <% end %>
        <% else %>
            <a href="sign_up">Sign up</a>
            <a href="log_in">Log in</a>
        <% end %>
    </div>

    <div id="filter">
        <div id="auto-update" class="not-updating">
            <span>Auto update off</span>
        </div>
        <div id="duration">
            <strong>Duration:</strong>
            <% %w(hour day week month).each do |duration| %>
            <span>
                <a
                    id="duration-<%= duration %>"
                    data-duration="<%= duration %>"
                    class="<%= if (params[:duration] == duration || params[:duration].nil? && duration == 'hour') then
                                  'active'
                                end %>"
                     href="?duration=<%= duration %><%= if params[:intensity] then
                                                          "&intensity=" + params[:intensity]
                                                        end %>">
                    <%= duration %>
                </a>
            </span>
            <% end %>
        </div>
        <div id="intensity">
            <strong>Intensity:</strong>
            <% %w(all 1.0 2.5 4.5 significant).each do |intensity| %>
            <span>
                <a
                    id="intensity-<%= intensity %>"
                    class="<%= if (params[:intensity] == intensity || params[:intensity].nil? && intensity == 'all') then
                                'active'
                              end %>"
                   href="?intensity=<%= intensity %><%= if params[:duration] then
                                                        "&duration=" + params[:duration]
                                                      end %>">
                    <%= intensity %>
                </a>
            </span>
            <% end %>
        </div>
    </div>

    <div id="earthquakes" class="earthquake-table">
        <table id="earthquakes-table">
            <thead>
                <tr>
                    <th>Magnitude</th>
                    <th>Location</th>
                    <th>Depth (km)</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
            <% if @latest_quake
                 @quake_data['features'].first(15).each  do |quake| %>
                <tr data-id="<%= quake['id'] %>" data-json="<%= quake.to_json %>" data-coords="<%= quake['geometry']['coordinates'] %>">
                    <%
                        size = ''
                        case quake['properties']['mag']
                            when 0..2 then size="small"
                            when 2..5 then size="med"
                            when 5..7 then size="large"
                            when 7..10 then size="huge"
                        end
                    %>
                    <td class="magnitude <%= size %>">
                        <span class="mag"><%= quake['properties']['mag'].to_s %><span class="scale"><%= quake['properties']['magType']  %></span></span>
                    </td>
                    <td class="place">
                        <%= quake['properties']['place'] %>
                        <br />
                        <span class="sub-line"><%= "(%s, %s)" % [quake['geometry']['coordinates'][0], quake['geometry']['coordinates'][1]] %></span>
                    </td>
                    <td class="depth">
                        <%= "%skm" % quake['geometry']['coordinates'][2] %>
                    </td>
                    <td class="time" title="<%= Time.at(quake['properties']['time'] / 1000) %>">
                        <%= time_ago_in_words(Time.at(quake['properties']['time'] /1000).utc) %> ago
                    </td>
                </tr>
            <%  end
               else %>
            <tr><td colspan="4">There are no earthquakes matching your filter terms :(</td> </tr>
            <% end %>
            </tbody>
        </table>
    </div>
</div>
<div id="map-wrap">
    <div id="map-canvas"></div>
</div>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkK_E20EoLgFlfyC-meqVhHSHmXUIYeM8&sensor=false">
</script>
<script type="text/javascript">
    function initialize() {
        var mapOptions = {
            center: new google.maps.LatLng(<%= if @latest_quake
                                                    "%s,%s" % [@latest_quake['geometry']['coordinates'][1], \
                                                               @latest_quake['geometry']['coordinates'][0]]
                                                else
                                                    '57.1526,-2.11'
                                                end %>),
            zoom: 8,
            scrollwheel: false,
            mapTypeId: google.maps.MapTypeId.TERRAIN
        };
        SEISMIC.map = new google.maps.Map(document.getElementById("map-canvas"),
                mapOptions);


        <% @quake_data['features'].first(15).each do |quake| %>
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(<%= "%s,%s" % [quake['geometry']['coordinates'][1], \
                                                        quake['geometry']['coordinates'][0]] %>),
            icon: "/assets/icon-<%= case quake['properties']['mag']
                                        when 0..2 then "small"
                                        when 2..4.5 then "med"
                                        when 4.5..7 then "large"
                                        when 7..10 then "huge"
                                    end
                                    %>.png",
            map: SEISMIC.map,
            title: "<%= quake['properties']['place'] %>"
        });
        <% end %>
    }
    google.maps.event.addDomListener(window, 'load', initialize);


    // Add last quake ID
    SEISMIC.lastQuakeID = "<%= if @latest_quake then @latest_quake['id'] end %>";
    SEISMIC.quakeData = '<%# @quake_data.to_s %>'
</script>