<!--By Iain Macdonald-->
<div id="userpage">
<div id="header">
    <h1>Hello <%= @session_user.username  %></h1>
    <h2>Welcome to the Admin page.</h2>
</div>

    <div id="user-controls">
        <% if @session_user %>
            <span><%= @session_user.username %></span>
            <a href="/user_page">Your profile</a>
            <% if @session_user.isadmin? %>
                / <a href="/admin">Admin</a>
            <% end %>
            /
            <a href="/log_out">Log out</a>

        <% else %>
            <a href="/sign_up">Sign up</a>
            /
            <a href="/log_in">Log in</a>
        <% end %>
    </div>

<table>
	<thead>
		<tr>
			<th>Username</th>
			<th>Email</th>
			<th>Admin?</th>
		</tr>
	</thead>

	<% @users.each do |user| %>
		<tr>
			<td><%= user.username %></td>
			<td><%= user.email %></td>
			<td>
			<% if user.isadmin? %>
				Yes
			<% else %>
				No
			<% end %>
			</td>
			<% if user.isadmin? %>
				<td><%= link_to 'Show', user %></td>
			<% else %>
				<td><%= link_to 'Show', user %></td>
				<td><%= link_to 'Make Admin', edit_user_path(user) %></td>
				<td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			<% end %>
      </tr>
    <% end %>
</table>

<a href="/"><button type='button'>Home</button></a>
</div>