<h1>Editing post</h1>

<%= form_for :user, url: admin_path, method: :post do |f| %>

<br />

    <% unless @current_admin.isadmin? %>
	<p>
		You may not edit admins.
	</p>
	<% else %>

		<p><%= f.radio_button :isadmin, "false" %> Not admin.</p>
		<p><%= f.radio_button :isadmin, "true" %>Make this user an admin.</p>
		<p>You may not remove an admin once they have been set.</p>
	<% end %>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', admin_path %>